.post-block-wrapper {
  margin: 1vw 0vw;
  border: 1px solid #c4c2be;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  .post-block-header {
    display: flex;
    align-items: center;
    padding: 1vw 0vw 0vw 2vw;


    .post-block-info {
      display: flex;
      flex-direction: column;
      line-height: 1;
      margin-left: 1vw;
      .post-block-description {
        font-size: 3vw;
      }
      .post-block-fullName {
        font-size: 2vw;
      }
      .post-block-createdAt {
        color: #cfccc3;
        font-size: 2vw;
      }
    }

  }


  .post-block-content {
    padding: 2vw;
    .post-block-text {
      font-size: 2vw;
    }

    .post-block-title {
      font-size: 2vw;
      font-weight: bold;
    }
  }

  img {
    width: 100%;
    border-radius: 0% 0% 4% 4%;
  }
}
